.form-container {
  width: 100%;
  position: relative;
  border-radius: 10px;
  height: .5vh;
  display: grid;
}

.form-content {
  padding: 20px;
  margin-top: 20px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  position: center;
}

.form-div:hover {
  color: white;
  transition: all 0.3s ease;
}

.form {
  background-color: #729c62;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color:white;
}

.form-input {
  align-content: flex-start;
  display: block;
  padding: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  color: red;
}


.goal-input {
  color: #194d44;
  font-weight: 800;
  font-size: larger;
}

.bottom-form{
  position: relative;
  margin-top: 10em;
}

.inapp-form {
  display: inline-grid;
  position: relative;
  margin: 0 auto;
  color: white;
}

.dark-form {
  display: inline-grid;
  position: relative;
  margin: 0 auto;
  color: rgb(90, 82, 82);
}

.inapp-form input[type="text"] {
  color: white;
  font-size: larger;
  font-weight: 800;
  text-align: center;
  width: auto;
} 

.inapp-form input[type="file"] {
  color: rgb(87, 82, 82);
  font-size: larger;
  font-weight: 800;
}

textarea {
  color: white;
}

input {
  height: 30px;
  min-width: 50%;
  padding: 5px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  color: lightgray;
  font-size: larger;
  font-weight: 800;
  outline: none;
  text-align: center;
}

.white {
  color: white
}