.grid-container{
  display: grid; 
  grid-template-columns: 20% 1fr;
  grid-template-rows: 72px 1fr;
  grid-template-areas:
  "sidebar head head head"
  "sidebar main main main"
  "sidebar main main main"
  "sidebar main main main";
  height: 100vh;
}

.head {
  grid-area: head;
  box-shadow: 0 1px 0 0 #eaedf3;
}

.main {
  grid-area: main;
  background-color: white;
}