.grid-container{
  display: grid; 
  grid-template-columns: 20% 1fr;
  grid-template-rows: 72px 1fr;
  grid-template-areas:
  "sidebar head head head"
  "sidebar main main main"
  "sidebar main main main"
  "sidebar main main main";
}

.grid-bottom{
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  padding-top: 1em;
}